.c-arrow {
  &__left {
    font-size: 30px;
    position: relative;
    top: 50%;
    left: 10%;
    width: 1em;
    height: 1em;
    border-bottom: 0.2em solid #39a9d6;
    border-left: 0.2em solid #39a9d6;
	  transform: rotate(45deg);
	  transform: rotate(45deg);
  }

  &__right {
    font-size: 30px;
    position: relative;
    top: 50%;
    right: 10%;
    width: 1em;
    height: 1em;
    border-bottom: 0.2em solid #39a9d6;
    border-right: 0.2em solid #39a9d6;
	  transform: rotate(-45deg);
	  transform: rotate(-45deg);
  }
}