.slick-prev {
  left: -60px;
  [dir="rtl"] & {
      left: auto;
      right: -60px;
  }
}
.slick-next {
  right: -60px;
  [dir="rtl"] & {
      left: -60px;
      right: auto;
  }
}

.slick-prev,
.slick-next {
  width: 50px;
  height: 50px;
}
.slick-prev:before,
.slick-next:before {
  color: #39a9d6;
  font-size: 50px;
}