.c-hamburger {
  display: none;
}

$btnWidth: 23px;
$btnHeight: 2px;

@import "../../foundation/responsive";

@media (max-width: $lg) {

  .c-hamburger {
    width: 50px;
    height: 50px;
    background-color: #fff;
    position: relative;
    display: block;
    transition: all 0.5s;
    &::before,
    &::after {
      content: "";
      width: $btnWidth;
      height: $btnHeight;
      background: #2498B3;
      position: absolute;
      left: calc( 50% - ( #{$btnWidth} / 2) );
      display: block;
      transition: transform 0.2s;
    }
    &::before {
      top: 17px;
    }
    &::after {
      top: 33px;
    }
    > span {
      width: $btnWidth;
      height: $btnHeight;
      font-size: 0;
      background: linear-gradient( to right, #2498B3, #2498B3) repeat-x #2498B3;
      background-size: auto $btnHeight;
      position: absolute;
      left: calc( 50% - ( #{$btnWidth} / 2 ) );
      top: 50%;
      transition: transform 0.2s;
    }
    &.is-open {
      &::before {
        transform: rotate( -45deg );
        top: 25px;
        background-color: #fff;
      }
      &::after {
        transform: rotate( -135deg);
        top: 25px;
        background-color: #fff;
      }
      > span {
        background: none;
      }
      background-color: #2498b3;
      transition: all 0.5s;
    }
  }
}