.p-banner {
  // height: 288.5px;
  background-color: #D4F1F8;
  display: flex;
  justify-content: center;
  align-items: center;

  &__list {
    display: flex;
    align-items: center;
    padding: 32px 0;
    width: 100%;
  }
  & img {
    width: 100%;
    object-fit: cover;
    padding: 3px;
  }
}

// レスポンシブ-lg
@import "../../foundation/responsive";

@media (max-width: $lg) {
  .p-banner {
    height: 100%;
    padding: 5px;
    overflow: hidden;

    &__item img {
    width: 100%;
    }
  }
}