.p-lesson-course {
  background-color: #f2fafb;

  &__wrapper {
    padding: 64px 0;
  }


  &__block {
    display: flex;
    margin: 8px 0;
    padding: 2%;
    background-color: #fff;

    &-left {
      width: 60%;
    }
    &-right {
      width: 36%;
    }

    &-title {
      display: flex;
      align-items: flex-end;
      margin: 0 0 14px 0;
    }
    &-title h5 {
      font-size: 28px;
      font-weight: bolder;
      line-height: 1.4;
    }
    &-logo {
      padding: 5px 10px;
      margin: 0 5px;
      border: 1px solid #2398c3;
      border-radius: 5px;
      color: #2398c3;
      font-weight: bolder;
      line-height: 1.0;
    }
    &-concept {
      margin: 0 0 16px 0;
    }
    &-recommend {
      font-size: 21px;
      font-weight: bolder;
      margin: 21px 0 10.5px 0;
    }
    & ul {
      margin: 0 0 24px 0;
    }
    & li {
      margin: 8px 0;
    }
    & i {
      color: #3da4bc;
      margin: 0 5px 0 20px;
    }
    & img {
      width: 100%;
      padding: 0 0 0 30px;
    }
  }
}

@import "../../foundation/responsive";

@media (max-width: $sm) {
  .p-lesson-course {
    &__block {
      flex-direction: column;
      padding: 20px;

      &-left {
        width: 100%;
      }
      &-right {
        width: 100%;
      }
    }

    &__block-title h5 {
      font-size: 24px;
    }
    &__block-title p {
      font-size: 14px;
    }
  }
}