.p-news {
  padding: 64px 0 0 0;

  & h2 {
    background-color: #2498b3;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding: 12px;
    line-height: 1.0;
  }

  &__area {
    font-size: 18px;
    padding: 5px 20px;
    border: 1px solid #c3c3c3;
  }
  &__area dt {
    float: left;
    margin: 0 40px 0 0;
    padding: 20px 0;
    color: #696969;
  }
  &__area dd {
    padding: 20px 0;
    color: #2498b3;
  }
  &__area dd a {
    color: #2498b3;
    text-decoration: underline;
    transition: all 0.5s;
  }
  &__area dd a:hover {
    background-color: #D4F1F8;
  }
  &__area dd:visited {
    color: #2498b3;
  }
}

.p-news {
  &__01 ,&__02 {
    border-bottom: 1px dotted #c3c3c3;
  }
}

// レスポンシブ
@import "../../foundation/responsive";

@media (max-width: $sm) {
  .p-news__area {
    font-size: 16px;
    & dt {
      border-bottom: none;
    }
  }

  .p-news {
    &__area dt {
      float: none;
      font-size: 14px;
      font-weight: 1.0;
      padding: 15px 0 0 0;
      margin: 0 48px 2.8px 0;
    }
    &__area dd {
      padding: 0 0 15px 0;
    }
  }
}