.p-price {
  &__wrapper {
    padding: 64px 0;
  }
  &__list {
    line-height: 2.0;

    & tr th {
      border: 1px solid #c3c3c3;
    }
    & th {
      padding: 10px 9px;
      text-align: left;
      vertical-align: middle; 
      font-weight: normal;
    }
  }

  &__w1 {
    width: 15.1%;
    height: 70px;
    background-color: #484b4b;
    border-right:1px solid #484b4b !important;
  }
  &__w2 {
    width: 29.4%;
    background-color: #2498B3;
    color: #fff;
    font-weight: bold;
    text-align: center !important;
    border-right:1px solid #484b4b !important;
  }
  &__w3 {
    width: 28.7%;
    background-color: #484b4b;
    color: #fff;
    font-weight: bold;
    text-align: center !important;
    border-right:1px solid #484b4b !important;
  }
  &__w4 {
    width: 26.8%;
    background-color: #484b4b;
    color: #fff;
    font-weight: bold;
    text-align: center !important;
  }
}

.star {
  &1 {
    color: #e5bf10;
  }
  &2 {
    color: #c3c3c3;
  }
}

.p-price__table {
  &__raisetech {
    &-background {
      background-color: #F3FAFB;
    }
    &-price {
      font-family: "Ropa Sans",sans-serif;
      font-size: 46px;
      color: #2498B3;
      line-height: 1;
    }
    &__min-text {
      font-size: 14px;
    }
  }

  &__AandB-price {
    font-family: "Ropa Sans",sans-serif;
    font-size: 46px;
    line-height: 1;
  }

  &__tax {
    font-family: none;
    font-size: 16px;
    color: #000;
    vertical-align: top;
  }
}