.p-service {
  padding: 64px 0 0 0;
  
  & img {
  max-width: 100%;
  }
}

.p-service__area {
  &-type1 {
    display: flex;
  }
  &-type1-left {
    width: 60%;
  }
  &-title {
    font-size: 34px;
    font-weight: bolder;
    line-height: 1.5;
  }
  &-message {
    line-height: 1.9;
  }
  &-type1-right {
    width: 36%;
    margin-left: 4%;
    }

  &-type2 {
    display: flex;
    margin: 48px 0 64px 0;
    align-items: flex-end;
    
    &-left {
      width: 36%;
      margin-right: 4%;
    }
    &-right {
      width: 60%;
    }
  }

  &-type3 {
    display: flex;
    margin: 48px 0 0 0;
    
    &-left {
      width: 60%;
    }
    &-right {
      width: 36%;
      margin-left: 4%;
    }
  }
}

#p-service__button {
  &-java, &-job-support, &-manga, &-support {
    margin: 16px 0 0 5px;
  }
  &-aws {
    margin: 16px 0 0 15px;
  }
}

// レスポンシブ
@import "../../foundation/responsive";

@media (max-width: $sm) {
  .p-service__area {
    &-type1 {
      flex-direction: column;
    }
    &-type1-left {
      width: 100%;
      margin-bottom: 20px;
    }
    &-title {
      margin-bottom: 10px;
    }
    &-type1-right {
      width: 100%;
      margin-left: 0;
    }

    &-type2 {
      flex-direction: column;

      &-left {
        width: 100%;
        margin-right: 0;
        margin-top: 30px;
        order: 1;
        &__res {
          margin-top: -20px;
        }
      }
      &-right {
        width: 100%;
        order: 0;
      }
    }

    &-title__res {
      margin-top: 20px;
    }

    &-type3 {
      flex-direction: column;
      margin: -20px 0 0 0;

      &-left {
        width: 100%;
      }
      &-right {
        width: 100%;
        margin-left: 0;
        &__res {
          margin-top: 20px;
        }
      }
    }
  }
  #p-service__job-support {
    margin: 15px;
  }
}