.p-teacher {
	& {
		background-color: #EAF8FB;
		padding: 64px 0;
	}
}

.p-teacher__content {
	& {
		display: flex;
	}
	&-left {
		width: 52%;
		padding: 0 5% 0 0;

		& h5 {
			font-size: 28px;
			font-weight: 900;
			padding: 0 0 14px 0;
		}
		& p {
			padding: 0 0 32px 0;
		}
		& a {
			line-height: 1.0;
		}
	}

	&-right {
		width: 43%;

		& img {
			width: 100%;
		}
	}
}

// レスポンシブ
@import "../../foundation/responsive";

@media (max-width: $sm) {
	.p-teacher__content {
		flex-direction: column;

		&-left {
			width: 100%;
			order: 1;
			padding: 0;
			text-align: center;
			& h5 {
				font-size: 22px;
				text-align: left;
				margin: 40px 0 0 0;
				& br {
					display: none;
				}
			}
			& p {
				margin: 0 0 16px 0;
				text-align: left;
			}
		}
		&-right {
			width: 100%;
			order: 0;
		}
	}
}