.l-header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 70px;
  background-color: #fff;
}

// レスポンシブ-xl
@import "../foundation/responsive";

@media (max-width: $lg) {
  .l-header {
    height: 50px;
    
  }
}