.l-main {
  width: 100%;

  &__wrapper {
    max-width: 1078px;
    margin: 0 auto;
  }
}

span {
  font-weight: bolder;
}

// レスポンシブ-xl
@import "../foundation/responsive";

@media (max-width: $xl) {
  .l-main {
    &__wrapper {
      margin: 0 10px;
    }
  }
}